<div class="modal fade" id="partnerDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content app-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="partnerDetailTitle">Detalji partnera</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="partnerDetailBody"></div>
        </div>
    </div>
</div>